<?xml version="1.0" encoding="UTF-8"?>
<config>
  <!-- Configuration version -->
  <version>0.1</version>
  <!-- System configuration - Do not add any configuration here -->
  <system>
    <apt>
      <distribution>
        <!--
				<proposed>0|1</proposed>
				<partner>0|1</partner>
				-->
        <proposed>0</proposed>
        <partner>0</partner>
      </distribution>
    </apt>
    <powermanagement>
      <cpufreq>1</cpufreq>
      <powerbtn>shutdown</powerbtn>
      <standbymode>poweroff</standbymode>
    </powermanagement>
    <monitoring>
      <perfstats>
        <enable>1</enable>
      </perfstats>
    </monitoring>
    <time>
      <timezone>Europe/Moscow</timezone>
      <ntp>
        <enable>1</enable>
        <timeservers>pool.ntp.org</timeservers>
        <clients></clients>
      </ntp>
    </time>
    <email>
      <enable>1</enable>
      <server>smtp.gmail.com</server>
      <port>587</port>
      <tls>starttls</tls>
      <sender>stoneown54321@gmail.com</sender>
      <authentication>
        <enable>1</enable>
        <username>stoneown54321@gmail.com</username>
        <password>ummj whzz cpki wkrn</password>
      </authentication>
      <primaryemail>enot@gmail.com</primaryemail>
      <secondaryemail></secondaryemail>
    </email>
    <notification>
      <notifications>
        <!--
				<notification>
					<uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
					<id>xxx</id>
					<enable>0|1</enable>
				</notification>
				-->
        <notification>
          <uuid>c1cd54af-660d-4311-8e21-2a19420355bb</uuid>
          <id>monitprocevents</id>
          <enable>1</enable>
        </notification>
        <notification>
          <uuid>8deb96bd-10d6-4eb8-9e3d-0938f2bcbb30</uuid>
          <id>monitloadavg</id>
          <enable>1</enable>
        </notification>
        <notification>
          <uuid>03dc067d-1310-45b5-899f-b471a0ae9233</uuid>
          <id>monitmemoryusage</id>
          <enable>1</enable>
        </notification>
        <notification>
          <uuid>fbf7973e-57a6-4c4a-8b7d-353653b596a5</uuid>
          <id>monitcpuusage</id>
          <enable>1</enable>
        </notification>
        <notification>
          <uuid>d1ce47d1-d8d5-4f43-9f5c-36a30d818734</uuid>
          <id>monitfilesystems</id>
          <enable>1</enable>
        </notification>
        <notification>
          <uuid>9be77408-d896-4bf5-9a4f-1adcc16381ec</uuid>
          <id>mdadm</id>
          <enable>0</enable>
        </notification>
        <notification>
          <uuid>bd784490-a15c-47a9-9930-9f5897804654</uuid>
          <id>smartmontools</id>
          <enable>1</enable>
        </notification>
        <notification>
          <uuid>394cd565-e463-4094-a6ab-12e80270e9b4</uuid>
          <id>cronapt</id>
          <enable>1</enable>
        </notification>
      </notifications>
    </notification>
    <certificates>
      <!--
			<sslcertificate>
				<uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
				<certificate>xxx</certificate>
				<privatekey>xxx</privatekey>
				<comment>xxx</comment>
			</sslcertificate>
			<sshcertificate>
				<uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
				<publickey>xxx</publickey>
				<privatekey>xxx</privatekey>
				<comment>xxx</comment>
			</sshcertificate>
			-->
      <sslcertificate>
    </certificates>
    <network>
      <dns>
        <hostname>stone</hostname>
        <domainname>local</domainname>
      </dns>
      <interfaces>
        <!--
				<interface>
					<uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
					<type>ethernet|bond|vlan|wifi|bridge</type>
					<devicename>xxx</devicename>
					<method>dhcp|static|manual</method>
					<address>xxx.xxx.xxx.xxx</address>
					<netmask>xxx.xxx.xxx.xxx</netmask>
					<gateway>xxx.xxx.xxx.xxx</gateway>
					<routemetric>0-65535</routemetric>
					<method6>auto|dhcp|static|manual</method6>
					<address6>xxxx:xxxx:...:xxxx</address6>
					<netmask6>0-128</netmask6>
					<gateway6>xxxx:xxxx:...:xxxx</gateway6>
					<routemetric6>0-65535</routemetric6>
					<dnsnameservers>xxx yyy zzz</dnsnameservers>
					<dnssearch></dnssearch>
					<mtu>0...n</mtu>
					<wol>0|1</wol>
					<comment>xxx</comment>
					# Optional arguments by type:
					# - ethernet | wifi | vlan
					<altmacaddress>|xx:xx:xx:xx:xx:xx</altmacaddress>
					# - bond
					<slaves>(((eth|venet|wlan)\d+|(en|veth|wl)\S+),)*((eth|venet|wlan)\d+|(en|veth|wl)\S+)</slaves>
					<bondprimary>(eth|wlan)\d+</bondprimary>
					<bondmode>0|1|2|3|4|5|6</bondmode>
					<bondmiimon>0</bondmiimon>
					<bonddowndelay>0</bonddowndelay>
					<bondupdelay>0</bondupdelay>
					<bondupdelay>0</bondupdelay>
					<bondtransmithashpolicy>layer2|layer2+3|layer3+4|encap2+3|encap3+4</bondtransmithashpolicy>
					# - vlan
					<vlanid>1-4095</vlanid>
					<vlanrawdevice>xxx</vlanrawdevice>
					# - wifi
					<wpassid>xxx</wpassid>
					<wpapsk>xxx</wpapsk>
					<hidden>0|1</hidden>
					# - bridge
					<slaves>(((eth|venet|wlan)\d+|(en|veth|wl)\S+),)*((eth|venet|wlan)\d+|(en|veth|wl)\S+)</slaves>
				</interface>
				-->
        <interface>
          <uuid>1ac05834-5acf-431e-8b4c-0125b973732d</uuid>
          <type>bridge</type>
          <devicename>br0</devicename>
          <method>static</method>
          <address>192.168.2.10</address>
          <netmask>255.255.255.0</netmask>
          <gateway>192.168.2.1</gateway>
          <routemetric>0</routemetric>
          <method6>manual</method6>
          <address6></address6>
          <netmask6>64</netmask6>
          <gateway6></gateway6>
          <routemetric6>1</routemetric6>
          <dnsnameservers>192.168.2.1</dnsnameservers>
          <dnssearch></dnssearch>
          <mtu>0</mtu>
          <wol>0</wol>
          <comment>bridge to eth card enp3s0</comment>
          <altmacaddress></altmacaddress>
          <slaves>enp3s0</slaves>
          <bondprimary></bondprimary>
          <bondmode>1</bondmode>
          <bondmiimon>0</bondmiimon>
          <bonddowndelay>0</bonddowndelay>
          <bondupdelay>0</bondupdelay>
          <bondtransmithashpolicy>layer2</bondtransmithashpolicy>
          <vlanid>1</vlanid>
          <vlanrawdevice></vlanrawdevice>
          <wpassid></wpassid>
          <wpapsk></wpapsk>
          <hidden>0</hidden>
        </interface>
      </interfaces>
      <iptables>
        <!--
				<rule>
					<uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
					<family>inet|inet6</family>
					<rulenum>1...x</rulenum>
					<chain>INPUT|OUTPUT</chain>
					<action>ACCEPT|REJECT|DROP|LOG|</action>
					<source>[!]?xxx.xxx.xxx.xxx|[!]?xxx.xxx.xxx.xxx/xx|xxx.xxx.xxx.xxx-yyy.yyy.yyy.yyy</source>
					<sport>xxx|xxx-yyy</sport>
					<destination>[!]?xxx.xxx.xxx.xxx|[!]?xxx.xxx.xxx.xxx/xx|xxx.xxx.xxx.xxx-yyy.yyy.yyy.yyy</destination>
					<dport>xxx|xxx-yyy</dport>
					<protocol>[!]?(tcp|udp|icmp|icmpv6)|all</protocol>
					<extraoptions>xxx</extraoptions>
					<comment>xxx</comment>
				</rule>
				-->
      </iptables>
      <proxy>
        <http>
          <enable>0</enable>
          <host></host>
          <port>8080</port>
          <username></username>
          <password></password>
        </http>
        <https>
          <enable>0</enable>
          <host></host>
          <port>4443</port>
          <username></username>
          <password></password>
        </https>
        <ftp>
          <enable>0</enable>
          <host></host>
          <port>2121</port>
          <username></username>
          <password></password>
        </ftp>
      </proxy>
    </network>
    <usermanagement>
      <homedirectory>
        <enable>1</enable>
        <sharedfolderref>c4d5cce2-682e-41d6-87d3-1b134bc2f0fb</sharedfolderref>
      </homedirectory>
      <users>
        <!--
				<user>
					<uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
					<name>xxx</name>
					<email>xxx</email>
					<disallowusermod>0</disallowusermod>
					<sshpubkeys>
						<sshpubkey>|xxx</sshpubkey>
					</sshpubkeys>
				</user>
				-->
        <user>
          <uuid>1d895851-2eb0-4765-be30-cf2ee060a30d</uuid>
          <name>enot</name>
          <email></email>
          <disallowusermod>0</disallowusermod>
          <sshpubkeys>
            <sshpubkey>---- BEGIN SSH2 PUBLIC KEY ----
i+Gnyzeujuy8w34HCM3rsNJjfMIhGOS+4c0mn1bzikb+jJ663HP1wiIPLtpP9zIYYc5csP
orS2Rf+T5vpfVLvX7vdZ45
---- END SSH2 PUBLIC KEY ----</sshpubkey>
          </sshpubkeys>
        </user>
        <user>
          <uuid>469cad54-402a-4464-af92-059952aeefc5</uuid>
          <name>lisa</name>
          <email></email>
          <disallowusermod>0</disallowusermod>
          <sshpubkeys></sshpubkeys>
        </user>
        <user>
          <uuid>1b9a981b-7d3a-4c6e-92ce-d37de9e10d00</uuid>
          <name>bender</name>
          <email></email>
          <disallowusermod>1</disallowusermod>
          <sshpubkeys></sshpubkeys>
        </user>
        <user>
          <uuid>7ec4e0e2-8416-465c-82a6-1969ed0bcabd</uuid>
          <name>stub</name>
          <email></email>
          <disallowusermod>1</disallowusermod>
          <sshpubkeys></sshpubkeys>
        </user>
      </users>
      <groups>
        <!--
				<group>
					<uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
					<name>xxx</name>
					<comment>xxx</comment>
				</group>
				-->
        <group>
          <uuid>7f2829b2-7952-43aa-aaa2-c16b13c2793f</uuid>
          <name>docker-amd</name>
          <comment></comment>
        </group>
      </groups>
    </usermanagement>
    <crontab>
      <!--
			<job>
				<uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
				<enable>0|1</enable>
				<execution>exactly|hourly|daily|weekly|monthly|yearly|reboot</execution>
				<sendemail>0|1<sendemail>
				<type>reboot|shutdown|standby|userdefined</type>
				<comment>xxx</comment>
				<minute>[00-59|*]</minute>
				<everynminute>0|1</everynminute>
				<hour>[00-23|*]</hour>
				<everynhour>0|1</everynhour>
				<dayofmonth>[01-31|*]</dayofmonth>
				<everyndayofmonth>0|1</everyndayofmonth>
				<month>[01-12|*]</month>
				<dayofweek>[1-7|*]</dayofweek>
				<username>xxx</username>
				<command>xxx</command>
			</job>
			-->
    </crontab>
    <syslog>
      <remote>
        <!--
				<protocol>udp|tcp</protocol>
				-->
        <enable>0</enable>
        <host></host>
        <port>514</port>
        <protocol>udp</protocol>
      </remote>
    </syslog>
    <storage>
      <!--
			<hdparm>
				<uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
				<devicefile>/dev/xxx</devicefile>
				<apm>0 = disable|1-255<apm>
				<aam>0|128|254</aam>
				<spindowntime>0 = disabled|1-254</spindowntime>
				<writecache>0|1</writecache>
			</hdparm>
			-->
      <filesystem>
        <!--
				<quota>
					<uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
					<fsuuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx|xxxx-xxxx</fsuuid>
					<usrquota>
						<name>xxx</name>
						<bsoftlimit>0</bsoftlimit>
						<bhardlimit>xxx</bhardlimit>
						<isoftlimit>0</isoftlimit>
						<ihardlimit>0</ihardlimit>
					</usrquota>
					<usrquota>
						...
					</usrquota>
					<grpquota>
						<name>xxx</name>
						<bsoftlimit>0</bsoftlimit>
						<bhardlimit>xxx</bhardlimit>
						<isoftlimit>0</isoftlimit>
						<ihardlimit>0</ihardlimit>
					</grpquota>
					<grpquota>
						...
					</grpquota>
				</quota>
				<quota>
					...
				</quota>
				-->
      </filesystem>
    </storage>
    <fstab>
      <!--
			<mntent>
				<uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
				<fsname>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx|xxxx-xxxx|/dev/xxx</fsname>
				<dir>/xxx/yyy/zzz</dir>
				<type>none|ext2|ext3|ext4|xfs|jfs|iso9660|udf|...</type>
				<opts></opts>
				<freq>0</freq>
				<passno>0|1|2</passno>
				<hidden>0|1</hidden>
				<usagewarnthreshold>xxx</usagewarnthreshold>
				<comment>xxx</comment>
			</mntent>
			-->
      <mntent>
        <uuid>f6df5c0c-bd25-47d2-b297-6ad95c7d97e3</uuid>
        <fsname>/dev/disk/by-uuid/5df3d4ad-0414-4018-a3c9-bd248ee5fa4c</fsname>
        <dir>/srv/dev-disk-by-uuid-5df3d4ad-0414-4018-a3c9-bd248ee5fa4c</dir>
        <type>ext4</type>
        <opts>defaults,nofail,user_xattr,usrjquota=aquota.user,grpjquota=aquota.group,jqfmt=vfsv0,acl</opts>
        <freq>0</freq>
        <passno>2</passno>
        <hidden>0</hidden>
        <usagewarnthreshold>85</usagewarnthreshold>
        <comment>nixData</comment>
      </mntent>
      <mntent>
        <uuid>79684322-3eac-11ea-a974-63a080abab18</uuid>
        <fsname>/dev/disk/by-uuid/dff9c3aa-770c-4666-adc4-73fa3379dae5</fsname>
        <dir>/</dir>
        <type>ext4</type>
        <opts>noatime,nodiratime,errors=remount-ro</opts>
        <freq>0</freq>
        <passno>1</passno>
        <hidden>1</hidden>
      </mntent>
    </fstab>
    <shares>
      <!--
			<sharedfolder>
				<uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
				<name>xxx</name>
				<comment>xxx</comment>
				<mntentref>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</mntentref>
				<reldirpath>xxx</reldirpath>
				<privileges>
					<privilege>
						<type>user|group</type>
						<name>xxx</name>
						<perms>0 = no permission|5 = read and execute|7 = read, write and execute</perms>
					</privilege>
				</privileges>
			</sharedfolder>
			-->
      <sharedfolder>
        <uuid>c4d5cce2-682e-41d6-87d3-1b134bc2f0fb</uuid>
        <name>home</name>
        <comment>homes</comment>
        <mntentref>79684322-3eac-11ea-a974-63a080abab18</mntentref>
        <reldirpath>home/</reldirpath>
        <privileges></privileges>
      </sharedfolder>
      <sharedfolder>
        <uuid>c7e18881-56d5-45ef-8dd9-147135f98398</uuid>
        <name>barn</name>
        <comment>barn</comment>
        <mntentref>f6df5c0c-bd25-47d2-b297-6ad95c7d97e3</mntentref>
        <reldirpath>barn/</reldirpath>
        <privileges>
          <privilege>
            <type>user</type>
            <name>enot</name>
            <perms>7</perms>
          </privilege>
          <privilege>
            <type>user</type>
            <name>lisa</name>
            <perms>7</perms>
          </privilege>
          <privilege>
            <type>user</type>
            <name>stub</name>
            <perms>7</perms>
          </privilege>
        </privileges>
      </sharedfolder>
      <sharedfolder>
        <uuid>c810bd56-82e7-4282-b92d-c0cfa04e95cd</uuid>
        <name>appdata_backup</name>
        <comment>dkr-appdata-bkp</comment>
        <mntentref>79684322-3eac-11ea-a974-63a080abab18</mntentref>
        <reldirpath>backup_appdata/</reldirpath>
        <privileges>
          <privilege>
            <type>user</type>
            <name>enot</name>
            <perms>7</perms>
          </privilege>
        </privileges>
      </sharedfolder>
      <sharedfolder>
        <uuid>2de29fe0-da12-4757-a9f9-2bb41719cf8f</uuid>
        <name>appdata</name>
        <comment></comment>
        <mntentref>f6df5c0c-bd25-47d2-b297-6ad95c7d97e3</mntentref>
        <reldirpath>appdata/</reldirpath>
        <privileges>
          <privilege>
            <type>user</type>
            <name>enot</name>
            <perms>7</perms>
          </privilege>
        </privileges>
      </sharedfolder>
      <sharedfolder>
        <uuid>7b771644-897f-4368-9267-d5bd4fb4e309</uuid>
        <name>yandex</name>
        <comment></comment>
        <mntentref>79684322-3eac-11ea-a974-63a080abab18</mntentref>
        <reldirpath>yandex/</reldirpath>
        <privileges>
          <privilege>
            <type>user</type>
            <name>enot</name>
            <perms>7</perms>
          </privilege>
        </privileges>
      </sharedfolder>
      <sharedfolder>
        <uuid>8b545cd4-1cc2-4e8b-b7f7-0c1a84d9aad1</uuid>
        <name>data</name>
        <comment>dkr-content</comment>
        <mntentref>f6df5c0c-bd25-47d2-b297-6ad95c7d97e3</mntentref>
        <reldirpath>data/</reldirpath>
        <privileges>
          <privilege>
            <type>user</type>
            <name>enot</name>
            <perms>7</perms>
          </privilege>
          <privilege>
            <type>user</type>
            <name>lisa</name>
            <perms>7</perms>
          </privilege>
          <privilege>
            <type>user</type>
            <name>stub</name>
            <perms>5</perms>
          </privilege>
        </privileges>
      </sharedfolder>
      <sharedfolder>
        <uuid>e1e88156-efc1-4726-acf5-bdef4525f714</uuid>
        <name>serial-raw</name>
        <comment></comment>
        <mntentref>f6df5c0c-bd25-47d2-b297-6ad95c7d97e3</mntentref>
        <reldirpath>data/media/torrents/serial/</reldirpath>
        <privileges></privileges>
      </sharedfolder>
      <sharedfolder>
        <uuid>1458d5c9-aa4d-405a-b446-c4d7b30f0346</uuid>
        <name>films-raw</name>
        <comment></comment>
        <mntentref>f6df5c0c-bd25-47d2-b297-6ad95c7d97e3</mntentref>
        <reldirpath>data/media/torrents/movies/</reldirpath>
        <privileges></privileges>
      </sharedfolder>
      <sharedfolder>
        <uuid>7277e6e4-d9ff-46f9-a876-7a5e4f700d1b</uuid>
        <name>kid-tor</name>
        <comment></comment>
        <mntentref>f6df5c0c-bd25-47d2-b297-6ad95c7d97e3</mntentref>
        <reldirpath>data/media/torrents/kid/</reldirpath>
        <privileges></privileges>
      </sharedfolder>
      <sharedfolder>
        <uuid>9820cfc9-3b06-45e7-8ed4-8f9e5ebf1a80</uuid>
        <name>ytb</name>
        <comment>youtube</comment>
        <mntentref>f6df5c0c-bd25-47d2-b297-6ad95c7d97e3</mntentref>
        <reldirpath>data/media/ytb/</reldirpath>
        <privileges></privileges>
      </sharedfolder>
    </shares>
    <sharedfoldersnapshotlifecycle>
      <enable>1</enable>
      <retentionperiod>1800</retentionperiod>
      <limitcustom>10</limitcustom>
      <limithourly>24</limithourly>
      <limitdaily>7</limitdaily>
      <limitweekly>4</limitweekly>
      <limitmonthly>12</limitmonthly>
      <limityearly>1</limityearly>
    </sharedfoldersnapshotlifecycle>
    <omvextras>
      <docker>1</docker>
    </omvextras>
  </system>
  <!-- Web control panel configuration - Do not add any configuration here -->
  <webadmin>
    <port>80</port>
    <enablessl>1</enablessl>
    <sslport>443</sslport>
    <forcesslonly>0</forcesslonly>
    <sslcertificateref>2e764be7-6b41-4d1e-97e6-ce3fa6626df9</sslcertificateref>
    <timeout>15</timeout>
  </webadmin>
  <!-- Plugin configuration area -->
  <services>
    <ssh>
      <enable>1</enable>
      <port>22</port>
      <passwordauthentication>0</passwordauthentication>
      <pubkeyauthentication>1</pubkeyauthentication>
      <permitrootlogin>0</permitrootlogin>
      <tcpforwarding>1</tcpforwarding>
      <compression>1</compression>
      <extraoptions>Match User stub
    PasswordAuthentication yes
    X11Forwarding no
Match all</extraoptions>
    </ssh>
    <nfs>
      <enable>0</enable>
      <versions>3,4,4.1,4.2</versions>
      <shares></shares>
    </nfs>
    <smart>
      <enable>1</enable>
      <interval>1800</interval>
      <powermode>standby</powermode>
      <tempdiff>10</tempdiff>
      <tempmax>40</tempmax>
      <monitor>
        <device>
          <uuid>d36bb9ab-d3d6-4cf9-8c20-688b680f8925</uuid>
          <enable>1</enable>
          <devicefile>/dev/disk/by-id/ata-Samsung_SSD_850_EVO_250GB_S2R4NB0J115120R</devicefile>
          <devicetype></devicetype>
          <tempdiff>0</tempdiff>
          <tempmax>0</tempmax>
        </device>
        <device>
          <uuid>2dcfa1fd-a350-44d7-afff-83e966d71bf7</uuid>
          <enable>1</enable>
          <devicefile>/dev/disk/by-id/ata-WDC_WD20EZRZ-00Z5HB0_WD-WCC4N0PY280X</devicefile>
          <devicetype></devicetype>
          <tempdiff>0</tempdiff>
          <tempmax>0</tempmax>
        </device>
        <device>
          <uuid>b6083de6-b863-4f46-b9cc-e3304c22a51d</uuid>
          <enable>1</enable>
          <devicefile>/dev/disk/by-id/ata-WDC_WD40EFAX-68JH4N1_WD-WX42DC0CEH8E</devicefile>
          <devicetype></devicetype>
          <tempdiff>0</tempdiff>
          <tempmax>0</tempmax>
        </device>
      </monitor>
      <scheduledtests>
        <job>
          <uuid>08dfc638-c5d1-4e94-8fa3-608d5067eb98</uuid>
          <enable>1</enable>
          <devicefile>/dev/disk/by-id/ata-Samsung_SSD_850_EVO_250GB_S2R4NB0J115120R</devicefile>
          <type>S</type>
          <hour>00</hour>
          <month>*</month>
          <dayofmonth>*</dayofmonth>
          <dayofweek>*</dayofweek>
          <comment></comment>
        </job>
        <job>
          <uuid>e0b56ac0-0ecf-4baf-a5d4-c5fac3acbf75</uuid>
          <enable>1</enable>
          <devicefile>/dev/disk/by-id/ata-Samsung_SSD_850_EVO_250GB_S2R4NB0J115120R</devicefile>
          <type>L</type>
          <hour>01</hour>
          <month>*</month>
          <dayofmonth>*</dayofmonth>
          <dayofweek>*</dayofweek>
          <comment></comment>
        </job>
        <job>
          <uuid>d689fa4d-9426-4f92-b134-44a005802cc8</uuid>
          <enable>1</enable>
          <devicefile>/dev/disk/by-id/ata-WDC_WD40EFAX-68JH4N1_WD-WX42DC0CEH8E</devicefile>
          <type>S</type>
          <hour>00</hour>
          <month>*</month>
          <dayofmonth>*</dayofmonth>
          <dayofweek>*</dayofweek>
          <comment></comment>
        </job>
        <job>
          <uuid>ff144763-0513-4474-99dc-81f6bdd032ab</uuid>
          <enable>1</enable>
          <devicefile>/dev/disk/by-id/ata-WDC_WD40EFAX-68JH4N1_WD-WX42DC0CEH8E</devicefile>
          <type>L</type>
          <hour>02</hour>
          <month>*</month>
          <dayofmonth>*</dayofmonth>
          <dayofweek>1</dayofweek>
          <comment></comment>
        </job>
      </scheduledtests>
    </smart>
    <smb>
      <enable>1</enable>
      <workgroup>WORKGROUP</workgroup>
      <serverstring>%h server</serverstring>
      <loglevel>0</loglevel>
      <usesendfile>1</usesendfile>
      <aio>1</aio>
      <timeserver>0</timeserver>
      <winssupport>0</winssupport>
      <winsserver></winsserver>
      <homesenable>0</homesenable>
      <homesbrowseable>1</homesbrowseable>
      <homesrecyclebin>0</homesrecyclebin>
      <homesinheritacls>1</homesinheritacls>
      <homesinheritpermissions>1</homesinheritpermissions>
      <homesextraoptions></homesextraoptions>
      <netbios>0</netbios>
      <minprotocol>SMB2</minprotocol>
      <extraoptions></extraoptions>
      <shares>
        <share>
          <uuid>23276532-4e4f-4b7a-accd-d072596cecec</uuid>
          <enable>1</enable>
          <sharedfolderref>c7e18881-56d5-45ef-8dd9-147135f98398</sharedfolderref>
          <comment></comment>
          <guest>no</guest>
          <readonly>0</readonly>
          <browseable>1</browseable>
          <recyclebin>0</recyclebin>
          <recyclemaxsize>0</recyclemaxsize>
          <recyclemaxage>0</recyclemaxage>
          <hidedotfiles>1</hidedotfiles>
          <inheritacls>1</inheritacls>
          <inheritpermissions>1</inheritpermissions>
          <easupport>0</easupport>
          <storedosattributes>0</storedosattributes>
          <hostsallow></hostsallow>
          <hostsdeny></hostsdeny>
          <audit>1</audit>
          <timemachine>0</timemachine>
          <transportencryption>0</transportencryption>
          <extraoptions></extraoptions>
        </share>
        <share>
          <uuid>e3f65832-3070-411b-b226-0b43cef65903</uuid>
          <enable>1</enable>
          <sharedfolderref>8b545cd4-1cc2-4e8b-b7f7-0c1a84d9aad1</sharedfolderref>
          <comment>media</comment>
          <guest>no</guest>
          <readonly>0</readonly>
          <browseable>1</browseable>
          <recyclebin>0</recyclebin>
          <recyclemaxsize>0</recyclemaxsize>
          <recyclemaxage>0</recyclemaxage>
          <hidedotfiles>1</hidedotfiles>
          <inheritacls>1</inheritacls>
          <inheritpermissions>1</inheritpermissions>
          <easupport>0</easupport>
          <storedosattributes>0</storedosattributes>
          <hostsallow></hostsallow>
          <hostsdeny></hostsdeny>
          <audit>0</audit>
          <timemachine>0</timemachine>
          <transportencryption>0</transportencryption>
          <extraoptions></extraoptions>
        </share>
      </shares>
    </smb>
    <rsync>
      <server>
        <enable>0</enable>
        <port>873</port>
        <extraoptions></extraoptions>
        <modules>
          <!--
					<module>
						<uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
						<enable>0|1</enable>
						<sharedfolderref>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</sharedfolderref>
						<uid>xxx</uid>
						<gid>xxx</gid>
						<name>xxx</name>
						<comment>xxx</comment>
						<readonly>0</readonly>
						<writeonly>0</writeonly>
						<maxconnections>0</maxconnections>
						<list>1</list>
						<hostsallow></hostsallow>
						<hostsdeny></hostsdeny>
						<extraoptions></extraoptions>
						<authusers>0|1</authusers>
						<usechroot>0|1</usechroot>
						<users>
							<user>
								<name>xxx</name>
								<password>xxx</password>
							<user>
						<users>
					</module>
					-->
        </modules>
      </server>
      <jobs>
        <!--
				<job>
					<uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
					<enable>0|1</enable>
					<sendemail>0|1<sendemail>
					<quiet>0</quiet>
					<comment>xxx</comment>
					<type>local|remote</type>
					<src>
						<sharedfolderref>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</sharedfolderref>
						<uri>xxx</uri>
					</src>
					<dest>
						<sharedfolderref>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</sharedfolderref>
						<uri>xxx</uri>
					</dest>
					<minute>[00-59|*]</minute>
					<everynminute>0|1</everynminute>
					<hour>[00-23|*]</hour>
					<everynhour>0|1</everynhour>
					<dayofmonth>[01-31|*]</dayofmonth>
					<everyndayofmonth>0|1</everyndayofmonth>
					<month>[01-12|*]</month>
					<dayofweek>[1-7|*]</dayofweek>
					<optionrecursive>1</optionrecursive>
					<optiontimes>1</optiontimes>
					<optiongroup>1</optiongroup>
					<optionowner>1</optionowner>
					<optioncompress>0</optioncompress>
					<optionarchive>1</optionarchive>
					<optiondelete>0</optiondelete>
					<optionperms>1</optionperms>
					<optionacls>1</optionacls>
					<optionxattrs>0</optionxattrs>
					<optiondryrun>0</optiondryrun>
					<optionpartial>0</optionpartial>
					<extraoptions></extraoptions>
					// remote
					<mode>push|pull</mode>
					<authentication>password|pubkey</authentication>
					<password>xxx</password>
					<sshcertificateref>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</sshcertificateref>
					<sshport>22</sshport>
				</job>
				-->
      </jobs>
    </rsync>
    <minidlna>
      <enable>1</enable>
      <name>omv:dlna</name>
      <port>8200</port>
      <strict>0</strict>
      <tivo>1</tivo>
      <widelinks>0</widelinks>
      <rootcontainer>.</rootcontainer>
      <loglevel>error</loglevel>
      <extraoptions></extraoptions>
      <shares>
        <share>
          <uuid>79afafa2-357e-46a3-99cd-93f66a860e86</uuid>
          <sharedfolderref>1458d5c9-aa4d-405a-b446-c4d7b30f0346</sharedfolderref>
          <mtype>V</mtype>
        </share>
        <share>
          <uuid>53436fcf-61a3-4518-8503-3f8f38cb8a19</uuid>
          <sharedfolderref>e1e88156-efc1-4726-acf5-bdef4525f714</sharedfolderref>
          <mtype>V</mtype>
        </share>
        <share>
          <uuid>6cb500d7-aad2-450f-a3db-53354a0f79bb</uuid>
          <sharedfolderref>7277e6e4-d9ff-46f9-a876-7a5e4f700d1b</sharedfolderref>
          <mtype>V</mtype>
        </share>
        <share>
          <uuid>e62ac53c-fa1a-409b-af63-ac350e06995c</uuid>
          <sharedfolderref>9820cfc9-3b06-45e7-8ed4-8f9e5ebf1a80</sharedfolderref>
          <mtype>V</mtype>
        </share>
      </shares>
    </minidlna>
    <compose>
      <sharedfolderref>2de29fe0-da12-4757-a9f9-2bb41719cf8f</sharedfolderref>
      <composeowner>bender</composeowner>
      <composegroup>docker-amd</composegroup>
      <mode>770</mode>
      <fileperms>660</fileperms>
      <datasharedfolderref>8b545cd4-1cc2-4e8b-b7f7-0c1a84d9aad1</datasharedfolderref>
      <backupsharedfolderref>c810bd56-82e7-4282-b92d-c0cfa04e95cd</backupsharedfolderref>
      <backupmaxsize>1</backupmaxsize>
      <dockerStorage>/var/lib/docker</dockerStorage>
      <files>
        <file>
          <uuid>7acda81e-2b16-4f45-be1a-3c3cede0543e</uuid>
          <name>portainer</name>
          <description></description>
          <body>---
version: "3"
services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /path/to/docker/docker-data/portainer-data:/data
    ports:
      - 9000:9000
</body>
          <env></env>
        </file>
        <file>
          <uuid>8791f93c-e14c-461b-94b8-382cc57fa60c</uuid>
          <name>video-box</name>
          <description></description>
          <body>---
version: "3.8"
# name: video-box
# about: https://github.com/mcgr0g/corcosa
services:

  organizr:
    container_name: organizr # https://github.com/organizr/docker-organizr
    image: ghcr.io/organizr/organizr:latest
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
    volumes:
      - ./organizr:/config
    ports:
      - 888:80
    restart: unless-stopped

  torproxy:
    container_name: torproxy
    image: mcgr0g/talpa-altaica:latest
    environment:
      EXCLUDE_NODE: '{RU},{UA},{AM},{KG},{BY}'
    ports: 
      - 8888:8888
      - 8119:8889
      - 9050:9050/tcp
    restart: unless-stopped

  jackettproxy: # версия сервиса для работы через медленный torproxy, без flaresolverr
    container_name: jackettproxy
    image: linuxserver/jackett:latest
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./jackettproxy:/config
      - ${ROOT}/media/torrents/blackhole:/downloads # place where to put .torrent files for manual download
    ports:
      - 9117:9117
    restart: unless-stopped

  jackettflared: # версия сервиса для работы через медленный torproxy, и с flaresolverr
    container_name: jackettflared
    image: linuxserver/jackett:latest
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./jackettflared:/config
      - ${ROOT}/media/torrents/blackhole:/downloads # place where to put .torrent files for manual download
    ports:
      - 9118:9117
    restart: unless-stopped
  
  flaresolverr: # кривая балалайка для обхода cdn. Не умеет в proxy и решать капчи.
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      LOG_LEVEL: ${LOG_LEVEL:-info}
      LOG_HTML: ${LOG_HTML:-false}
      CAPTCHA_SOLVER: ${CAPTCHA_SOLVER:-none}
      TZ: ${TZ}
    ports:
      - 8191:8191
    restart: unless-stopped

  qbittorrent: # https://github.com/linuxserver/docker-qbittorrent
    image: linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      WEBUI_PORT: 8080
      PUID: ${PUID}
      PGID: ${PGID}
    volumes:
      - ./qbittorrent:/config
      - ${ROOT}/media:/media
    ports:
      - 6881:6881 # tcp connection port
      - 8080:8080 # http gui
      - 9001:9001 # tracker port
    restart: unless-stopped

  sonarr: # сериалы
    container_name: sonarr
    image: linuxserver/sonarr:latest
    network_mode: host
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./sonarr:/config
      - ${ROOT}/media:/media # both downloads &amp; media folders folder
    ports:
      - 8989:8989
    restart: unless-stopped

  radarr: # кино
    container_name: radarr
    image: linuxserver/radarr:latest
    network_mode: host
    environment:
      PUID: ${PUID} # default user id, defined in .env
      PGID: ${PGID} # default group id, defined in .env
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./radarr:/config # config files
      - ${ROOT}/media:/media # both downloads &amp; media folders folder
    ports:
      - 7878:7878
    restart: unless-stopped

  plex-server: # https://github.com/plexinc/pms-docker
    container_name: plex
    image: plexinc/pms-docker:latest # freeze version https://hub.docker.com/r/plexinc/pms-docker/tags/
    environment:
      TZ: ${TZ} # timezone, defined in .env
      PLEX_UID: ${PUID} # default user id, defined in .env
      PLEX_GID: ${PGID} # default group id, defined in .env
      HOSTNAME: stone
      ADVERTISE_IP: http://stone.local:32400, http://192.168.2.10:32400
      ALLOWED_NETWORKS: 192.168.2.0/24
    volumes:
      - ./plex/db:/config # plex database
      - ./plex/profiles:/usr/lib/plexmediaserver/Resources/Profiles # для подхачивания транскодирования
      - ./plex/transcode:/transcode # temp transcoded files
      - ${ROOT}/cache/plex/transcode:/transcode # temp transcoded files
      # - ${ROOT}/yandex/Music:/music # music library
    devices:
    - /dev/dri:/dev/dri # https://github.com/plexinc/pms-docker#intel-quick-sync-hardware-transcoding-support
    ports:
      - 32400:32400/tcp
      - 3005:3005/tcp
      - 8324:8324/tcp
      - 32469:32469/tcp
      - 32410:32410/udp
      - 32412:32412/udp
      - 32413:32413/udp
      - 32414:32414/udp
    restart: unless-stopped

  metube: # выкачивалка ютуба
    image: alexta69/metube
    container_name: metube
    #vuser: "${PUID}:${PGID}"
    ports:
      - 8081:8081
    volumes:
      - ${ROOT}/media/ytb:/downloads
    restart: unless-stopped

  torrserver: # выкачивает торренты в ram. Можно перенстроить на хранение кеша из ram на hdd, но непонятно ради чего
    container_name: torrserver # https://github.com/YouROK/TorrServer
    image: ghcr.io/yourok/torrserver:latest 
    hostname: torrserver
    domainname: torrserver.lan
    # user: "${PUID}:${PGID}"
    volumes:
      - './ts:/opt/ts/config'
      - '${ROOT}/cache/torrserver:/opt/ts/torrents'
    ports:
      - 8090:8090 # http streaming
      - 1900:1900 # dlna discover
      - 1338:1338 # dlna default streaming port https://github.com/anacrolix/dms/blob/master/README.rst#usage-of-dms
    networks:
      mcvlan_subnet:
        ipv4_address: 192.168.2.230
    restart: unless-stopped

networks: 
  mcvlan_subnet:
    name: elder_ip_subnet_type_c
    driver: macvlan
    driver_opts:
      parent: br0 # если вместо физической карты настроен бридж, то нужно указывать именно его
    ipam:
      config:
        - subnet: 192.168.2.0/24
          gateway: 192.168.2.1
          ip_range: 192.168.2.224/27
</body>
          <env></env>
        </file>
      </files>
      <dockerfiles></dockerfiles>
      <jobs></jobs>
      <globalenv>
        <enabled>1</enabled>
        <globalenv>TZ=Europe/Moscow
PUID=1002
PGID=1000
# ROOT=/srv/dev-disk-by-uuid-5df3d4ad-0414-4018-a3c9-bd248ee5fa4c
ROOT=CHANGE_TO_COMPOSE_DATA_PATH
SUBNET_IP=192.168.2.0
SUBNETM_FULL=24</globalenv>
      </globalenv>
    </compose>
  </services>
</config>
