<?xml version='1.0' encoding='UTF-8'?>
<config>
  <!-- Configuration version -->
  <version>0.1</version>
  <!-- System configuration - Do not add any configuration here -->
  <system>
    <apt>
      <distribution>
        <!--
                <proposed>0|1</proposed>
                <partner>0|1</partner>
                -->
        <proposed>0</proposed>
        <partner>0</partner>
      </distribution>
    </apt>
    <powermanagement>
      <cpufreq>1</cpufreq>
      <powerbtn>shutdown</powerbtn>
    </powermanagement>
    <monitoring>
      <perfstats>
        <enable>1</enable>
      </perfstats>
    </monitoring>
    <time><timezone>Europe/Moscow</timezone><ntp><enable>1</enable><timeservers>pool.ntp.org</timeservers><clients></clients></ntp></time><email>
      <!--
            <enable>0|1</enable>
            <tls>none|ssl|startssl|auto</tls>
            -->
      <enable>0</enable>
      <server/>
      <port>25</port>
      <tls>none</tls>
      <sender/>
      <authentication>
        <!--
                <enable>0|1</enable>
                -->
        <enable>0</enable>
        <username/>
        <password/>
      </authentication>
      <primaryemail/>
      <secondaryemail/>
    </email>
    <notification>
      <notifications>
        <!--
                <notification>
                    <uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
                    <id>xxx</id>
                    <enable>0|1</enable>
                </notification>
                -->
        <notification>
          <uuid>c1cd54af-660d-4311-8e21-2a19420355bb</uuid>
          <id>monitprocevents</id>
          <enable>1</enable>
        </notification>
        <notification>
          <uuid>8deb96bd-10d6-4eb8-9e3d-0938f2bcbb30</uuid>
          <id>monitloadavg</id>
          <enable>1</enable>
        </notification>
        <notification>
          <uuid>03dc067d-1310-45b5-899f-b471a0ae9233</uuid>
          <id>monitmemoryusage</id>
          <enable>1</enable>
        </notification>
        <notification>
          <uuid>fbf7973e-57a6-4c4a-8b7d-353653b596a5</uuid>
          <id>monitcpuusage</id>
          <enable>1</enable>
        </notification>
        <notification>
          <uuid>d1ce47d1-d8d5-4f43-9f5c-36a30d818734</uuid>
          <id>monitfilesystems</id>
          <enable>1</enable>
        </notification>
        <notification>
          <uuid>9be77408-d896-4bf5-9a4f-1adcc16381ec</uuid>
          <id>mdadm</id>
          <enable>1</enable>
        </notification>
        <notification>
          <uuid>bd784490-a15c-47a9-9930-9f5897804654</uuid>
          <id>smartmontools</id>
          <enable>1</enable>
        </notification>
        <notification>
          <uuid>394cd565-e463-4094-a6ab-12e80270e9b4</uuid>
          <id>cronapt</id>
          <enable>1</enable>
        </notification>
      </notifications>
    </notification>
    <certificates>
      <!--
            <sslcertificate>
                <uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
                <certificate>xxx</certificate>
                <privatekey>xxx</privatekey>
                <comment>xxx</comment>
            </sslcertificate>
            <sshcertificate>
                <uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
                <publickey>xxx</publickey>
                <privatekey>xxx</privatekey>
                <comment>xxx</comment>
            </sshcertificate>
            -->
    </certificates>
    <network>
      <dns><hostname>stone</hostname><domainname>lan</domainname></dns><interfaces>
        <!--
                <interface>
                    <uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
                    <type>ethernet|bond|vlan|wifi|bridge</type>
                    <devicename>xxx</devicename>
                    <method>dhcp|static|manual</method>
                    <address>xxx.xxx.xxx.xxx</address>
                    <netmask>xxx.xxx.xxx.xxx</netmask>
                    <gateway>xxx.xxx.xxx.xxx</gateway>
                    <method6>auto|dhcp|static|manual</method6>
                    <address6>xxxx:xxxx:...:xxxx</address6>
                    <netmask6>0-128</netmask6>
                    <gateway6>xxxx:xxxx:...:xxxx</gateway6>
                    <dnsnameservers>xxx yyy zzz</dnsnameservers>
                    <dnssearch></dnssearch>
                    <mtu>0...n</mtu>
                    <wol>0|1</wol>
                    <comment>xxx</comment>
                    # Optional arguments by type:
                    # - bond
                    <slaves>(((eth|venet|wlan)\d+|(en|veth|wl)\S+),)*((eth|venet|wlan)\d+|(en|veth|wl)\S+)</slaves>
                    <bondprimary>(eth|wlan)\d+</bondprimary>
                    <bondmode>0|1|2|3|4|5|6</bondmode>
                    <bondmiimon>0</bondmiimon>
                    <bonddowndelay>0</bonddowndelay>
                    <bondupdelay>0</bondupdelay>
                    # - vlan
                    <vlanid>1-4095</vlanid>
                    <vlanrawdevice>xxx</vlanrawdevice>
                    # - wifi
                    <wpassid>xxx</wpassid>
                    <wpapsk>xxx</wpapsk>
                    # - bridge
                    <slaves>(((eth|venet|wlan)\d+|(en|veth|wl)\S+),)*((eth|venet|wlan)\d+|(en|veth|wl)\S+)</slaves>
                </interface>
                -->
        <interface>
          <uuid>923d2709-0033-4b29-a065-54bed191c7cf</uuid>
          <type>ethernet</type>
          <devicename>enp3s0</devicename>
          <method>dhcp</method>
          <address/>
          <netmask/>
          <gateway/>
          <method6>manual</method6>
          <address6/>
          <netmask6>64</netmask6>
          <gateway6/>
          <dnsnameservers/>
          <dnssearch/>
          <mtu>0</mtu>
          <wol>1</wol>
          <comment/>
          <slaves/>
          <bondprimary/>
          <bondmode>1</bondmode>
          <bondmiimon>0</bondmiimon>
          <bonddowndelay>0</bonddowndelay>
          <bondupdelay>0</bondupdelay>
          <vlanid>1</vlanid>
          <vlanrawdevice/>
          <wpassid/>
          <wpapsk/>
        </interface>
      </interfaces>
      <iptables>
        <!--
                <rule>
                    <uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
                    <family>inet|inet6</family>
                    <rulenum>1...x</rulenum>
                    <chain>INPUT|OUTPUT</chain>
                    <action>ACCEPT|REJECT|DROP|LOG|</action>
                    <source>[!]?xxx.xxx.xxx.xxx|[!]?xxx.xxx.xxx.xxx/xx|xxx.xxx.xxx.xxx-yyy.yyy.yyy.yyy</source>
                    <sport>xxx|xxx-yyy</sport>
                    <destination>[!]?xxx.xxx.xxx.xxx|[!]?xxx.xxx.xxx.xxx/xx|xxx.xxx.xxx.xxx-yyy.yyy.yyy.yyy</destination>
                    <dport>xxx|xxx-yyy</dport>
                    <protocol>[!]?(tcp|udp|icmp|icmpv6)|all</protocol>
                    <extraoptions>xxx</extraoptions>
                    <comment>xxx</comment>
                </rule>
                -->
      </iptables>
      <proxy>
        <http>
          <enable>0</enable>
          <host/>
          <port>8080</port>
          <username/>
          <password/>
        </http>
        <https>
          <enable>0</enable>
          <host/>
          <port>4443</port>
          <username/>
          <password/>
        </https>
        <ftp>
          <enable>0</enable>
          <host/>
          <port>2121</port>
          <username/>
          <password/>
        </ftp>
      </proxy>
    </network>
    <usermanagement>
      <homedirectory>
        <enable>0</enable>
        <sharedfolderref/>
      </homedirectory>
      <users>
        <!--
                <user>
                    <uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
                    <name>xxx</name>
                    <email>xxx</email>
                    <disallowusermod>0</disallowusermod>
                    <sshpubkeys>
                        <sshpubkey>|xxx</sshpubkey>
                    </sshpubkeys>
                </user>
                -->
        <user>
          <uuid>45fb0633-559b-4f24-9803-b518427e6aec</uuid>
          <name>enot</name>
          <email/>
          <disallowusermod>0</disallowusermod>
          <sshpubkeys>
            <sshpubkey>---- BEGIN SSH2 PUBLIC KEY ----
Comment: "enot@stone"
AAAAB3NzaC1yc2EAAAADAQABAAABAQCj1vdpbZbAXWqiAf4T4BJpf8JCnvdaSE2p
9b5fcli+Gnyzeujuy8w34HCM3rsNJjfMIhGOS+4c0mn1bzikb+jJ663HP1wiIPLt
pP9zIYYc5csPK2ZH156PhcJKjjGXQVphIDWaPZ5cIfaMzwnVQjLkj46X64BAAPsJ
qKYW6zXZxuP1YE01Cfu5Q6y9/7nqcFJ2OcLY20bz5pXQpWxft6bHEyvjBZS7Uen/
5qpQoXlCVKNxRRbN8jc7TXL0jqOxnwTxRLykcvs1oLJYa2lPPJzPnJb1tMcCFOXu
1ifcNMySoL2jQy5HUT0y/hagzxCV6MorS2Rf+T5vpfVLvX7vdZ45
---- END SSH2 PUBLIC KEY ----
</sshpubkey>
          </sshpubkeys>
        </user>
        <user>
          <uuid>aa141593-82d2-45a0-8813-1e68dd08348f</uuid>
          <name>stub</name>
          <email/>
          <disallowusermod>1</disallowusermod>
          <sshpubkeys/>
        </user>
        <user>
          <uuid>4936e273-2aaf-4322-bb4b-2a3f6cc8dbc7</uuid>
          <name>lisa</name>
          <email/>
          <disallowusermod>0</disallowusermod>
          <sshpubkeys/>
        </user>
        <user>
          <uuid>26c475bc-c520-4e13-9528-b24192a01410</uuid>
          <name>bender</name>
          <email/>
          <disallowusermod>1</disallowusermod>
          <sshpubkeys/>
        </user>
      </users>
      <groups>
        <!--
                <group>
                    <uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
                    <name>xxx</name>
                    <comment>xxx</comment>
                </group>
                -->
      </groups>
    </usermanagement>
    <crontab>
      <!--
            <job>
                <uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
                <enable>0|1</enable>
                <execution>exactly|hourly|daily|weekly|monthly|yearly|reboot</execution>
                <sendemail>0|1<sendemail>
                <type>reboot|shutdown|standby|userdefined</type>
                <comment>xxx</comment>
                <minute>[00-59|*]</minute>
                <everynminute>0|1</everynminute>
                <hour>[00-23|*]</hour>
                <everynhour>0|1</everynhour>
                <dayofmonth>[01-31|*]</dayofmonth>
                <everyndayofmonth>0|1</everyndayofmonth>
                <month>[01-12|*]</month>
                <dayofweek>[1-7|*]</dayofweek>
                <username>xxx</username>
                <command>xxx</command>
            </job>
            -->
    </crontab>
    <syslog>
      <remote>
        <!--
                <protocol>udp|tcp</protocol>
                -->
        <enable>0</enable>
        <host/>
        <port>514</port>
        <protocol>udp</protocol>
      </remote>
    </syslog>
    <storage>
      <!--
            <hdparm>
                <uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
                <devicefile>/dev/xxx</devicefile>
                <apm>0 = disable|1-255<apm>
                <aam>0|128|254</aam>
                <spindowntime>0 = disabled|1-254</spindowntime>
                <writecache>0|1</writecache>
            </hdparm>
            -->
      <filesystem>
        <!--
                <quota>
                    <uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
                    <fsuuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx|xxxx-xxxx</fsuuid>
                    <usrquota>
                        <name>xxx</name>
                        <bsoftlimit>0</bsoftlimit>
                        <bhardlimit>xxx</bhardlimit>
                        <isoftlimit>0</isoftlimit>
                        <ihardlimit>0</ihardlimit>
                    </usrquota>
                    <usrquota>
                        ...
                    </usrquota>
                    <grpquota>
                        <name>xxx</name>
                        <bsoftlimit>0</bsoftlimit>
                        <bhardlimit>xxx</bhardlimit>
                        <isoftlimit>0</isoftlimit>
                        <ihardlimit>0</ihardlimit>
                    </grpquota>
                    <grpquota>
                        ...
                    </grpquota>
                </quota>
                <quota>
                    ...
                </quota>
                -->
      </filesystem>
    </storage>
    <fstab>
      <!--
            <mntent>
                <uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
                <fsname>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx|xxxx-xxxx|/dev/xxx</fsname>
                <dir>/xxx/yyy/zzz</dir>
                <type>none|ext2|ext3|ext4|xfs|jfs|iso9660|udf|...</type>
                <opts></opts>
                <freq>0</freq>
                <passno>0|1|2</passno>
                <hidden>0|1</hidden>
                <usagewarnthreshold>xxx</usagewarnthreshold>
                <comment>xxx</comment>
            </mntent>
            -->
      <mntent>
        <uuid>bc52a074-08fe-4c81-ae86-71d13c6f4a78</uuid>
        <fsname>/dev/disk/by-uuid/defeb500-44b5-4d90-90de-5f38c2eb66dd</fsname>
        <dir>/srv/dev-disk-by-uuid-defeb500-44b5-4d90-90de-5f38c2eb66dd</dir>
        <type>ext4</type>
        <opts>defaults,nofail,user_xattr,usrjquota=aquota.user,grpjquota=aquota.group,jqfmt=vfsv0,acl</opts>
        <freq>0</freq>
        <passno>2</passno>
        <hidden>0</hidden>
        <usagewarnthreshold>85</usagewarnthreshold>
        <comment>ssd</comment>
      </mntent>
    </fstab>
    <shares>
      <!--
            <sharedfolder>
                <uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
                <name>xxx</name>
                <comment>xxx</comment>
                <mntentref>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</mntentref>
                <reldirpath>xxx</reldirpath>
                <privileges>
                    <privilege>
                        <type>user|group</type>
                        <name>xxx</name>
                        <perms>0 = no permission|5 = read and execute|7 = read, write and execute</perms>
                    </privilege>
                </privileges>
            </sharedfolder>
            -->
    </shares>
    <omvextras>
      <testing>0</testing>
      <dockerStorage>/var/lib/docker</dockerStorage>
      <webport>9000</webport>
      <agentport>8000</agentport>
      <yachtport>8001</yachtport>
      <ee>0</ee>
    </omvextras>
  </system>
  <!-- Web control panel configuration - Do not add any configuration here -->
  <webadmin>
    <port>80</port>
    <enablessl>0</enablessl>
    <sslport>443</sslport>
    <forcesslonly>0</forcesslonly>
    <sslcertificateref/>
    <timeout>5</timeout>
  </webadmin>
  <!-- Plugin configuration area -->
  <services>
    <ssh>
      <enable>1</enable>
      <port>22</port>
      <passwordauthentication>0</passwordauthentication>
      <pubkeyauthentication>1</pubkeyauthentication>
      <permitrootlogin>0</permitrootlogin>
      <tcpforwarding>1</tcpforwarding>
      <compression>1</compression>
      <extraoptions>Match User stub 
    PasswordAuthentication yes
    X11Forwarding no
Match all</extraoptions>
    </ssh>
    <nfs>
      <enable>0</enable>
      <shares>
        <!--
                <share>
                    <uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
                    <sharedfolderref>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</sharedfolderref>
                    <mntentref>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</mntentref>
                    <client>xxx.xxx.xxx.xxx/xx|xxxxxxxxx</client>
                    <options>xxx,xxx,xxx</options>
                    <extraoptions></extraoptions>
                    <comment>xxx</comment>
                </share>
                -->
      </shares>
    </nfs>
    <ftp>
      <enable>0</enable>
      <port>21</port>
      <maxclients>5</maxclients>
      <maxconnectionsperhost>2</maxconnectionsperhost>
      <maxloginattempts>1</maxloginattempts>
      <timeoutidle>1200</timeoutidle>
      <displaylogin/>
      <allowforeignaddress>0</allowforeignaddress>
      <allowrestart>0</allowrestart>
      <identlookups>0</identlookups>
      <usereversedns>0</usereversedns>
      <rootlogin>0</rootlogin>
      <masqueradeaddress/>
      <dynmasqrefresh>0</dynmasqrefresh>
      <usepassiveports>0</usepassiveports>
      <minpassiveports>49152</minpassiveports>
      <maxpassiveports>65534</maxpassiveports>
      <limittransferrate>0</limittransferrate>
      <maxuptransferrate>0</maxuptransferrate>
      <maxdowntransferrate>0</maxdowntransferrate>
      <anonymous>0</anonymous>
      <requirevalidshell>1</requirevalidshell>
      <transferlog>0</transferlog>
      <homesenable>0</homesenable>
      <extraoptions/>
      <shares>
        <!--
                <share>
                    <uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
                    <sharedfolderref>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</sharedfolderref>
                    <extraoptions></extraoptions>
                    <comment>xxx</comment>
                </share>
                -->
      </shares>
      <modules>
        <mod_ban>
          <!--
                    <rule>
                        <uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
                        <event>AnonRejectPasswords|ClientConnectRate|MaxClientsPerClass|MaxClientsPerHost|MaxClientsPerUser|MaxConnectionsPerHost|MaxHostsPerUser|MaxLoginAttempts|TimeoutIdle|TimeoutNoTransfer</event>
                        <occurrence>xxx</occurrence>
                        <timeinterval>hh:mm:ss</timeinterval>
                        <expire>hh:mm:ss</expire>
                    </rule>
                    -->
        </mod_ban>
        <mod_tls>
          <enable>0</enable>
          <required>0</required>
          <sslcertificateref/>
          <nosessionreuserequired>0</nosessionreuserequired>
          <useimplicitssl>0</useimplicitssl>
          <extraoptions/>
        </mod_tls>
      </modules>
    </ftp>
    <smart>
      <enable>1</enable>
      <interval>1800</interval>
      <powermode>never</powermode>
      <tempdiff>4</tempdiff>
      <tempmax>45</tempmax>
      <monitor>
        <device>
          <uuid>d91b169d-3fec-4200-a8b8-4f1da0e4a53e</uuid>
          <enable>1</enable>
          <devicefile>/dev/disk/by-id/ata-Kingchuxing_1TB_2020102500145</devicefile>
          <devicetype/>
          <tempdiff>0</tempdiff>
          <tempmax>0</tempmax>
        </device>
        <device>
          <uuid>9eff86c3-4aeb-4741-8bbc-d4b0cf115f34</uuid>
          <enable>1</enable>
          <devicefile>/dev/disk/by-id/ata-Samsung_SSD_850_EVO_250GB_S2R4NB0J115120R</devicefile>
          <devicetype/>
          <tempdiff>0</tempdiff>
          <tempmax>0</tempmax>
        </device>
        <device>
          <uuid>4c5136d7-b1fa-481d-bd11-b04424809046</uuid>
          <enable>1</enable>
          <devicefile>/dev/disk/by-id/ata-WDC_WD20EZRZ-00Z5HB0_WD-WCC4N0PY280X</devicefile>
          <devicetype/>
          <tempdiff>0</tempdiff>
          <tempmax>0</tempmax>
        </device>
      </monitor>
      <scheduledtests>
        <job>
          <uuid>ec63d4d1-06be-4b87-b627-2e238887f066</uuid>
          <enable>1</enable>
          <devicefile>/dev/disk/by-id/ata-WDC_WD20EZRZ-00Z5HB0_WD-WCC4N0PY280X</devicefile>
          <type>S</type>
          <hour>12</hour>
          <month>*</month>
          <dayofmonth>*</dayofmonth>
          <dayofweek>*</dayofweek>
          <comment/>
        </job>
        <job>
          <uuid>9bbc0105-5396-455a-ae27-73b8378ea2c0</uuid>
          <enable>1</enable>
          <devicefile>/dev/disk/by-id/ata-WDC_WD20EZRZ-00Z5HB0_WD-WCC4N0PY280X</devicefile>
          <type>L</type>
          <hour>03</hour>
          <month>*</month>
          <dayofmonth>*</dayofmonth>
          <dayofweek>1</dayofweek>
          <comment/>
        </job>
        <job>
          <uuid>51396b8b-f239-42b9-8713-d18eac5af467</uuid>
          <enable>1</enable>
          <devicefile>/dev/disk/by-id/ata-WDC_WD20EZRZ-00Z5HB0_WD-WCC4N0PY280X</devicefile>
          <type>C</type>
          <hour>01</hour>
          <month>*</month>
          <dayofmonth>*</dayofmonth>
          <dayofweek>2</dayofweek>
          <comment/>
        </job>
      </scheduledtests>
    </smart>
    <smb>
      <enable>0</enable>
      <workgroup>WORKGROUP</workgroup>
      <serverstring>%h server</serverstring>
      <loglevel>1</loglevel>
      <usesendfile>1</usesendfile>
      <aio>1</aio>
      <timeserver>0</timeserver>
      <winssupport>0</winssupport>
      <winsserver/>
      <homesenable>0</homesenable>
      <homesbrowseable>0</homesbrowseable>
      <homesrecyclebin>0</homesrecyclebin>
      <extraoptions>min receivefile size = 16384
getwd cache = yes
allow insecure wide links = yes</extraoptions>
      <shares/>
    </smb>
    <rsync>
      <server>
        <enable>0</enable>
        <port>873</port>
        <extraoptions/>
        <modules>
          <!--
                    <module>
                        <uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
                        <enable>0|1</enable>
                        <sharedfolderref>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</sharedfolderref>
                        <uid>xxx</uid>
                        <gid>xxx</gid>
                        <name>xxx</name>
                        <comment>xxx</comment>
                        <readonly>0</readonly>
                        <writeonly>0</writeonly>
                        <maxconnections>0</maxconnections>
                        <list>1</list>
                        <hostsallow></hostsallow>
                        <hostsdeny></hostsdeny>
                        <extraoptions></extraoptions>
                        <authusers>0|1</authusers>
                        <usechroot>0|1</usechroot>
                        <users>
                            <user>
                                <name>xxx</name>
                                <password>xxx</password>
                            <user>
                        <users>
                    </module>
                    -->
        </modules>
      </server>
      <jobs>
        <!--
                <job>
                    <uuid>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</uuid>
                    <enable>0|1</enable>
                    <sendemail>0|1<sendemail>
                    <quiet>0</quiet>
                    <comment>xxx</comment>
                    <type>local|remote</type>
                    <src>
                        <sharedfolderref>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</sharedfolderref>
                        <uri>xxx</uri>
                    </src>
                    <dest>
                        <sharedfolderref>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</sharedfolderref>
                        <uri>xxx</uri>
                    </dest>
                    <minute>[00-59|*]</minute>
                    <everynminute>0|1</everynminute>
                    <hour>[00-23|*]</hour>
                    <everynhour>0|1</everynhour>
                    <dayofmonth>[01-31|*]</dayofmonth>
                    <everyndayofmonth>0|1</everyndayofmonth>
                    <month>[01-12|*]</month>
                    <dayofweek>[1-7|*]</dayofweek>
                    <optionrecursive>1</optionrecursive>
                    <optiontimes>1</optiontimes>
                    <optiongroup>1</optiongroup>
                    <optionowner>1</optionowner>
                    <optioncompress>0</optioncompress>
                    <optionarchive>1</optionarchive>
                    <optiondelete>0</optiondelete>
                    <optionperms>1</optionperms>
                    <optionacls>1</optionacls>
                    <optionxattrs>0</optionxattrs>
                    <optiondryrun>0</optiondryrun>
                    <optionpartial>0</optionpartial>
                    <extraoptions></extraoptions>
                    // remote
                    <mode>push|pull</mode>
                    <authentication>password|pubkey</authentication>
                    <password>xxx</password>
                    <sshcertificateref>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</sshcertificateref>
                    <sshport>22</sshport>
                </job>
                -->
      </jobs>
    </rsync>
    <nut>
      <enable>1</enable>
      <mode>standalone</mode>
      <upsname>ups</upsname>
      <comment/>
      <netclienthostname/>
      <netclientusername/>
      <netclientpassword/>
      <powervalue>1</powervalue>
      <driverconf>driver = usbhid-ups
port = auto</driverconf>
      <shutdownmode>onbatt</shutdownmode>
      <shutdowntimer>60</shutdowntimer>
      <remotemonitor>0</remotemonitor>
      <remoteuser/>
      <remotepassword/>
    </nut>
  </services>
</config>
